.product-name {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

.product-highlights {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.short-description {
  margin-top: 10px;
  max-width: 500px;
}